:root {
    --color1: #fcc914;
    --color2: #136a9b;
    --color3: #2284b9;
    --color4: #36a0ce;
    --color5: #3d3d3d;
    --logoWidth: 50px;
    --fontSize30: 30px;
    --fontSize25: 25px;
    --fontSize20: 20px;
    --fontSize12: 12px;
    --fontSize10: 10px;
    --gridTemplateColumns: auto auto;
    --gridTemplateAreas: 'a'
        'b'
        'c';
    --display: table-cell;
    --clubLogoWidth: 400px;
    --logoDim: 30px;
    --logoTbl: 20px;
    --contentMarginTop: 20px;
}


body {
    min-width: 340px;
    max-width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    font-size: var(--fontSize12);
}

.content {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

.fpLogo {
    display: flex;
    justify-content: space-between;
    margin-top: -8px;
    padding-top: 3px;
    background: var(--color3);
    color: var(--color1);
    margin-left: -8px;
    margin-right: -8px;
}

.fpLogo img {
    width: var(--logoWidth);
}

.fpLogo a {
    color: black;
    text-decoration: none;
}

.title1 {
    padding-top: 2px;
    font-size: 30px;
}

.title2 {
    display: none;
}

.login input {
    size: 1px;
    font-size: 10px;
}

.login input[type='submit'] {
    font-size: 10px;
    margin-right: 4px;
    padding: 1px;
    border-radius: 3px;
}

#youthSel a {
    text-decoration: none;
}

#youthSel a:visited,
#youthSel a:link {
    text-decoration: none;
    color: black;
}

#youthSel a:hover,
#youthSel li:hover {
    background: var(--color3);
}

#youthSel {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 8px 0 8px 0;
    margin-top: -2px;
    background: var(--color1);
    color: black;
    margin-left: -8px;
    margin-right: -8px;
}

#youthSel li {
    cursor: pointer;
    padding: 4px 4px;
    margin-bottom: -8px;
    border-radius: 2px;
}

.results img {
    width: var(--logoDim);
    height: var(--logoDim);
    padding: 0 15px;
    position: relative;
    bottom: -5px;
}

.results td:nth-of-type(1) {
    text-align: right;
}

.results td {
    vertical-align: middle;
    padding: 2px 0;
}

.results p {
    text-align: center;
}

.results table {
    margin: auto;
}

.results {
    padding: 3px;
    background: var(--color4);
}

.finalsContent {
    text-align: center;
    margin-bottom: 100px;
}

.finals {
    margin: 10px 3%;
    padding: 5px 0;
}

.finals table {
    margin: auto;
}

.finals h3 {
    text-align: center;
}

.finals td {
    padding: 5px;
    vertical-align: baseline;
}

.finals td:first-of-type {
    text-align: left;
}

.finals td:last-of-type {
    text-align: right;
}

.finals img {
    width: var(--logoDim);
    height: var(--logoDim);
    padding: 0 15px;
    position: relative;
    bottom: -5px;
}

.table img {
    width: var(--logoTbl);
    height: var(--logoTbl);
    padding: 0 5px 0 0;
    position: relative;
    bottom: -5px;
}

.table table {
    border-collapse: collapse;
    width: 100%;
}

.table td {
    vertical-align: bottom;
    text-align: center;
    padding: 2px 8px;
}

.table td:nth-child(2) {
    text-align: left;
}

.table tr:nth-of-type(5) td {
    border-bottom: 1px dotted var(--color5);
}

.table a,
.results a,
.nextGame a,
.teamResults a {
    text-decoration: none;
    color: black;
}

.table a:visited,
.table a {
    text-decoration: none;
    color: black;
}

.results a:visited,
.nextGame a:visited,
.teamResults a:visited {
    text-decoration: none;
    color: black;
}

.table a:link,
.results a:link,
.nextGame a:link,
.teamResults a:link {
    text-decoration: none;
    color: black;
}

.table a:hover,
.results a:hover,
.nextGame a:hover,
.teamResults a:hover {
    color: var(--color2);
}

.table th {
    background: var(--color1);
    color: black;
    padding: 2px;
    border-bottom: 1px solid var(--color5);
}

.table {
    background: var(--color1);
    color: black;
    padding: 5px 0;
}

.nextGame {
    background: var(--color4);
    margin: auto;
}

.nextGame img {
    width: var(--logoDim);
    height: var(--logoDim);
}

.nextGame tr:nth-of-type(1) td {
    text-align: center;
}

.nextGame tr:nth-of-type(6) td {
    text-align: left;
}

.nextGame td:first-of-type {
    text-align: right;
}

.nextGame tr:nth-of-type(n + 2):nth-of-type(-n + 5) td:nth-of-type(3) {
    text-align: center;
    padding: 0 15px;
    font-size: var(--fontSize10);
}

.nextGame td {
    padding: 2px;
}

.footer {
    font-size: 10px;
    margin-top: 60px;
}

.pairsAll {
    margin-top: var(--contentMarginTop);
}

.pairs tr:nth-of-type(1) td {
    font-weight: bold;
    padding: 1px;
    background: var(--color4);
    color: black;
}

.pairs tr:nth-of-type(6) {
    font-style: italic;
}

.pairs tr:nth-of-type(n + 2):nth-of-type(-n + 5) td:nth-of-type(1) {
    width: 40%;
}

.pairs tr:nth-of-type(n + 2):nth-of-type(-n + 5) td:nth-of-type(2) {
    width: 10%;
    text-align: center;
}

.pairs tr:nth-of-type(n + 2):nth-of-type(-n + 5) td:nth-of-type(3) {
    width: 40%;
}

.pairs {
    width: 80%;
    max-width: 300px;
    background: var(--color1);
}

.resultsPage {
    margin-top: var(--contentMarginTop);
}

.resultsPage tr:nth-of-type(n + 1):nth-of-type(-n + 2) {
    background: var(--color4);
    color: black;
}

.resultsPage table {
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
    border-collapse: collapse;
    background: var(--color1);
}

.resultsPage tr:nth-of-type(n + 1):nth-of-type(-n + 2) td {
    font-weight: bold;
    padding: 1px;
}

.info {
    margin-top: var(--contentMarginTop);
}

.form {
    margin-top: var(--contentMarginTop);
}

.teamLogo {
    float: right;
    width: 30%;
}

.team {
    margin-top: var(--contentMarginTop);
}

.teamInfo {
    margin-bottom: 40px;
    background: var(--color1);
    padding-right: 20px;
    font-weight: bold;
}

.teamInfo td:nth-of-type(1) {
    font-style: italic;
    font-weight: normal;
    padding-right: 10px;
}

.teamResults td {
    padding: 1px 2px 4px 4px;
    background: var(--color1);
}

.teamResults td:first-of-type {
    border-right: 1px solid black;
    text-align: center;
}

.teamResults th:first-of-type {
    text-align: center;
}

.teamResults th {
    background: var(--color4);
    color: black;
    text-align: left;
    border-bottom: 1px solid black;
    padding: 0 0 2px 4px;
}

.teamResults {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
    border-collapse: collapse;
}

.teamResultsList {
    list-style: none;
    display: flex;
    padding: 0;
}

.teamResultsList li {
    margin: 1px;
    padding: 2px;
    border: 1px solid black;
    background: var(--color4);
    cursor: pointer;
}

.teamResultsList li:hover {
    background: var(--color1);
}

#ys2009,
#ys2008,
#ys2007,
#ys2006 {
    display: none;
}

.teamStats {
    background: var(--color4);
    display: inline-block;
}

.resultsNL td {
    padding: 0 4px;
}

.resultsNL {
    margin-bottom: 20px;
}

.resultsNL p {
    font-weight: bold;
}

.tableNL td {
    padding: 2px 6px;
    border-bottom: 1px solid;
}

.tableNL td:nth-of-type(n + 3):nth-of-type(-n + 9) {
    text-align: center;
    padding: 0 8px;
}

.tableNL td:first-of-type {
    border-right: 1px solid;
}

.tableNL th {
    border-bottom: 1px solid;
    padding: 2px 8px;
}

.tableNL th:nth-of-type(2) {
    text-align: left;
}

.tableNL {
    margin-bottom: 40px;
}

.tableNL table {
    border-collapse: collapse;
    border: 1px solid;
}

.nextGameNL td {
    padding: 2px 8px;
}

.nextGameNL td:nth-of-type(3) {
    border-right: 1px solid;
}

.nextGameNL {
    border-collapse: collapse;
}

#newsLetter {
    font-size: var(--fontSize20);
    font-weight: bold;
    border-radius: 2px;
    display: inline-block;
    padding: 5px 10px;
    box-shadow: 0 0 2px black;
}

#newsLetter a {
    text-decoration: none;
}

#metrics {
    float: right;
    font-size: var(--fontSize20);
    font-weight: bold;
    border-radius: 2px;
    padding: 5px 10px;
    box-shadow: 0 0 2px black;
}

#metrics a {
    text-decoration: none;
}

#metrics a:hover,
#newsLetter a:hover {
    color: var(--color2);
}

.admin a {
    background: var(--color1);
    color: black;
    text-decoration: none;
    padding: 1px 10px;
    margin: 5px;
    border-radius: 2px;
    box-shadow: 0 0 2px black;
}

.admin a:hover {
    background: var(--color2);
}

.admin tr:nth-of-type(n + 2):nth-of-type(-n + 5) td:nth-of-type(n + 1):nth-of-type(-n + 3) {
    background: lightblue;
}

.admin tr:nth-of-type(n + 10):nth-of-type(-n + 13) td:nth-of-type(n + 1):nth-of-type(-n + 3) {
    background: lightblue;
}

.admin tr:nth-of-type(n + 18):nth-of-type(-n + 21) td:nth-of-type(n + 1):nth-of-type(-n + 3) {
    background: lightblue;
}

.admin tr:nth-of-type(n + 26):nth-of-type(-n + 29) td:nth-of-type(n + 1):nth-of-type(-n + 3) {
    background: lightblue;
}

.headToggle {
    margin: 5px 0;
    text-align: left;
    cursor: pointer;
}

.visitorTable {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: var(--fontSize10);
    display: none;
}

.visitorTable td {
    padding: 2px 4px;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.visitorTable td:nth-of-type(7),
.visitorTable td:nth-of-type(1) {
    border: 1px solid black;
}

.visitorTable td:nth-of-type(10) {
    border-left: 1px solid black;
}

.visitorTable th {
    background: var(--color1);
    color: black;
}

.chartContainer {
    display: grid;
    grid-template-areas: var(--gridTemplateAreas)
}

.chartContainer div:last-of-type {
    grid-area: c;
    max-width: 90%;
}

.infb {
    margin: 40px 0 10px 0;
    text-align: center;
}

.infb img {
    width: 15px;
    padding-right: 1px;
    margin: 5px 0 0 0;
    position: relative;
    top: 2px;
}

.infb span {
    margin-right: 10px;
}

.infb a {
    text-decoration: none;
}


@media screen and (min-width: 640px) {
    :root {
        --fontSize10: 14px;
        --fontSize12: 15px;
        --logoWidth: 100px;
        --clubLogoWidth: 400px;
        --gridTemplateAreas: 'a b'
            'c c';
    }

    #youthSel li {
        padding: 6px 20px;
    }

    .title1 {
        display: none;
    }

    .title2 {
        display: inline;
        padding-top: 20px;
        font-size: 40px;
    }

    .login input[type='submit'] {
        font-size: 10px;
        margin-right: 12px;
        padding: 2px;
    }

    .finals {
        margin: 10px 20%;
        padding: 5px 0;
    }
}
