:root {
    --logoWidth: 50px;
    --fontSize30: 28px;
    --fontSize25: 22px;
    --fontSize20: 18px;
    --fontSize15: 12px;
    --gridTemplateColumns: auto auto;
    --color1: #1d1815;
    --color2: #f0dc00;
    --color3: #db2519;
    --color4: #e6760e;
    --display: table-cell;
    --clubLogoWidth: 400px;
}

body {
    min-width: 450px;
    background-image: linear-gradient(to bottom right, var(--color2), var(--color4), var(--color3));
}

.content {
    display: grid;
    grid-template-columns: var(--gridTemplateColumns);
    justify-items: center;
    margin-bottom: 40px;
}

.fpLogo {
    padding: 5px;
    box-shadow: 0 10px 15px;
    background: var(--color4);
    width: 101%;
    margin: -17px 0 -5px -10px;
    position: fixed;
    z-index: 1;
    min-width: 450px;
}

#logo {
    width: var(--logoWidth);
}

.teamLogo {
    float: right;
    max-width: var(--clubLogoWidth);
    width: 100%;

}

.title1 {
    font-size: var(--fontSize25);
    vertical-align: top;
    font-style: italic;
    color: var(--color2);
    text-shadow: -1px 0 var(--color1), 0 1px var(--color1), 1px 0 var(--color1), 0 -1px var(--color1);
}

.title2 {
    font-size: var(--fontSize30);
    vertical-align: bottom;
    font-style: italic;
    font-weight: bold;
    color: var(--color2);
    text-shadow: -1px 0 var(--color1), 0 1px var(--color1), 1px 0 var(--color1), 0 -1px var(--color1);
}

.button {
    border: 1px solid black;
    padding: 0 2px;
    background: buttonface;
    display: block;
    text-align: center;
}

.button:hover {
    color: black;
    box-shadow: 0 0;
    background: buttonhighlight
}

.links {
    float: right;
    padding: 0 25px;
}

.links a {
    border: 1px solid var(--color1);
    padding: 4px;
}

.links a:visited, .links a:link {
    color: black;
    text-decoration: none;
    font-size: var(--fontSize15);
}

.links a:hover {
    color: var(--color2);
    box-shadow: inset 0 0 5px var(--color1)
}

.logos {
    display: flex;
    text-align: center; 
    padding: 0;
    justify-content: space-between;
    padding: 50px 20px 0 20px;
}

.logos a, .logos p {
    text-decoration: none;
    text-align: center;
    font-size: var(--fontSize15);
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    color: black;
}

.logos li {
    list-style: none;
    padding: 5px;
}

.logos img {
    max-height: 90px;
    max-width: 90px;
    min-height: 30%;
    min-width: 30%;
    width: 100%;
}

.logosLi:hover p {
    color: black;
    text-shadow: 0 6px 5px black;
}

.table {
    margin-left: 10px; 
    margin-bottom: 100px;
    box-shadow: 0 5px 10px;
    position: relative;
    top: 55px;
}

.table p {
    padding-left: 5px;
    font-weight: bold;
    font-size: var(--fontSize15);
}

.table img {
    height: 18px;
    width: 18px;
    padding: 0 5px 0 0;
    position: relative;
    bottom: -3px;
}

.table table {
    background-color: whitesmoke;
    border-collapse: collapse;
    min-width: 500px;
}

.table th, .table td {
    text-align: center;
    border-bottom: 1px solid gray;
}

.table th {
    font-size: var(--fontSize15);
}

.table td {
    font-size: var(--fontSize20);
    padding: 3px 10px
}

.table th:nth-child(2), .table td:nth-of-type(2), .table td:nth-of-type(3) {
    text-align: left;
    padding-left: 5px;
}

.table tr:nth-of-type(1) {
    background-color: var(--color4);
}

.table tr:nth-of-type(n+2):nth-of-type(-n+5) td:nth-of-type(1) {
    background-color: var(--color2);
}

.table td:nth-of-type(9) {
    font-weight: bold;
}

.results table {
    font-size: var(--fontSize25);
    margin-bottom: 20px; 
    border-collapse: collapse;
    background-color: whitesmoke;
    box-shadow: 0 5px 10px;
    min-width: 450px;
}

.results tr td {
    border-bottom: 1px solid black;
    padding: 3px 5px;
}

.results td:first-of-type {
    text-align: left;
}

.results td:last-of-type {
    text-align: right;
}

.results td:nth-of-type(n+2):nth-of-type(-n+4) {
    background-color: var(--color2);
    font-weight: bold;
    padding: 0 3px;
}

.results p {
    text-align: right;
    font-weight: bold;
    font-size: var(--fontSize20);
}

.results p.results {
    text-decoration: underline;
    font-size:  var(--fontSize25);
}

.results td:first-of-type img {
    width: 18px;
    height: 18px;
    position: relative;
    bottom: -3px;
    float: left;
    padding-right: 5px;
}

.results td:last-of-type img {
    width: 18px;
    height: 18px;
    position: relative;
    bottom: -3px;
    float: right;
    padding-left: 5px;
}

#fixture {
    text-align: center;
}

#fixture table {
    display: inline-table;
}

.nextGame {

}

.nextGameH {
    text-align: right;
    font-size: var(--fontSize25);
    color: var(--color1);
    padding-right: 10px; 
    text-shadow: 0 5px 10px black;
}

.nextGameA {
    text-align: left;
    font-size: var(--fontSize25);
    color: var(--color1);
    padding-left: 10px;
    text-shadow: 0 5px 10px black;
}

.nextGameImg {
    text-align: center;
}

.nextGameImg img {
    height: 30px;
}

.nextGameTime {
    font-size: var(--fontSize20);
    color: var(--color1);
    padding: 0 20px;
    text-shadow: 0 5px 10px black;
}

.notPlaying {
    font-size: var(--fontSize25);
    font-style: italic;
    color: var(--color1);
    text-align: left;
}

.nextMday {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.footer {
    clear: both;
    margin-top: 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.footer p {
    font-size: var(--fontSize15);
}

.teamInfo {

}

.teamInfo td { 
    padding:3px 5px 0 3px;
}

.teamInfo td:nth-child(1) {
    font-weight: bold;
}

.teamInfo td:nth-child(2) {
    padding: 3px 20px 0 20px;
}

.teamResults {
    padding: 0 5px;
    border-collapse: collapse;
}

.teamResults td {
    padding: 1px 5px;
    border-bottom: 1px solid black;
}

.teamResults td:nth-child(n+4):nth-child(-n+5) {
    text-align: center;
    font-weight: bold;
} 

.resultsNL {
    margin-bottom: 20px;
}

.resultsNL td {
    font-size: 18px;
}

.resultsNL td:nth-of-type(2) {
    font-size: 18px;
    font-weight: bold;
    padding-left: 14px;
}

.resultsNL td:nth-of-type(4) {
    font-size: 18px;
    font-weight: bold;
    padding-right: 14px;
}

.tableNL {
    margin-bottom: 40px;
}

.tableNL table {
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.4);
    min-width: 600px;
}

.tableNL td {
    border-bottom: 1px solid black;
    font-size: 20px;
    padding: 3px 10px;
    text-align: center;
}

.tableNL th {
    border-bottom: 1px solid black;
    padding-left: 5px;
    text-align: center;
}

.tableNL th:nth-child(2), .tableNL td:nth-of-type(2) {
    text-align: left;
    padding-left: 5px;
}

.tableNL tr:nth-of-type(1) {
    background-color: var(--color4);
}

.tableNL tr:nth-of-type(n+2):nth-of-type(-n+5) td:nth-of-type(1) {
    background-color: var(--color2);
}

.tableNL td:nth-of-type(9) {
    font-weight: bold;
}

.nextGameNL {
    padding: 40px 0;
}

.nextGameNL td {
    padding: 2px 8px;
    font-size: 18px;
}

.resutsPage {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}

.resutsPage td:nth-child(n+4):nth-child(-n+5) {
    text-align: center;
    font-weight: bold;
} 

.resutsPage table {
    padding-bottom: 40px;
}

.pairs td {
    padding-right: 5px;
} 


@media screen and (max-width: 800px) {
    :root {
        --gridTemplateColumns: auto;
        --clubLogoWidth: 200px;
    }
    
    .resutsPage {
        font-size: 14px
    }
}

@media screen and (max-width: 600px) {
    :root {
        --logoWidth: 20px;
        --fontSize30: 20px;
        --fontSize25: 15px;
        --fontSize20: 12px;
        --fontSize15: 10px;
        --gridTemplateColumns: auto;
        --display: none;
        --clubLogoWidth: 100px;
    }

    .table table {
        min-width: 400px;
    }

    .results table {
        min-width: 400px;
    }

    .logos img {
        max-height: 30px;
        max-width: 30px;
        width: 100%;
    }

    .logos li {
        padding: 0
    }

    .logos p {
        font-size: 8px;
    }

    .results td:first-of-type img {
        width: 18px;
        height: 18px;
        position: relative;
        top: 0;
        float: left;
        padding-right: 5px;
    }

    .results td:last-of-type img {
        width: 18px;
        height: 18px;
        position: relative;
        top: 0;
        float: right;
        padding-left: 5px;
    }
    
    .resutsPage {
        font-size: 12px;
        min-width: 500px
    }

}
