:root {
    --color1: #fcc914;
    --color5: #3d3d3d;
    --logoWidth: 50px;
    --fontSize30: 30px;
    --fontSize25: 25px;
    --fontSize20: 20px;
    --fontSize12: 12px;
    --fontSize10: 10px;
    --gridTemplateAreasContent:
        'a'
        'b'
        'c';
    --gridTemplateAreas:
        'a'
        'b'
        'c';
    --resultsPageGridAreas:
        'b'
        'a';
    --display: table-cell;
    --clubLogoWidth: 400px;
    --logoDim: 30px;
    --logoTbl: 20px;
    --tableLastTrPadding: 7px;
}


body {
    min-width: 340px;
    max-width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    font-size: var(--fontSize12);
    background: rgba(0, 0, 0, 0.05);
}

.content {
    display: grid;
    justify-items: center;
}

.fpLogo {
    display: flex;
    justify-content: space-between;
    margin-top: -8px;
    padding-top: 3px;
    background: var(--color1);
    color: var(--color5);
    margin-left: -8px;
    margin-right: -8px;
}

.fpLogo img {
    width: var(--logoWidth);
}

.title1 {
    padding-top: 2px;
    font-size: 30px;
}

.title2 {
    display: none;
}

.login input {
    size: 1px;
    font-size: 10px;
}

.login input[type='submit'] {
    font-size: 10px;
    margin-right: 4px;
    padding: 1px;
    border-radius: 3px;
    float: right;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--color1);
}

#youthSel {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 8px 0 8px 0;
    margin-top: -2px;
    background: var(--color5);
    color: white;
    margin-left: -8px;
    margin-right: -8px;
    box-shadow: 0 2px 3px var(--color5);
}

#youthSel li {
    cursor: pointer;
    padding: 4px 4px;
    margin-bottom: -8px;
    border-radius: 2px;
}

#youthSel li:hover {
    background: var(--color1);
}

#youthSel a {
    color: white;
}

.ys {
    display: grid;
    grid-template-areas: var(--gridTemplateAreasContent);
    box-shadow: 0 0 2px var(--color5);
}

.results img {
    width: var(--logoDim);
    height: var(--logoDim);
    padding: 0 15px;
    position: relative;
    bottom: -5px;
}

.results td:nth-of-type(1) {
    text-align: right;
}

.results td {
    vertical-align: middle;
    padding: 2px 0;
}

.results p {
    text-align: center;
    background: var(--color1);
    padding: 10px 0 5px 0;
    position: relative;
    top: -18px;
    margin-bottom: auto;
}

.results table,
.finals table {
    margin: auto;
}

.results {
    padding: 3px 0 10px 0;
    background: white;
    grid-area: a;
}

.finalFour {
    padding: 20px 0 20px 20px;
    background: var(--color1);
}

.finalFour a:hover {
    color: white;
}

.finalsContent {
    text-align: center;
    margin-bottom: 100px;
}

.finals {
    margin: 10px 3%;
    padding: 5px 0;
}

.finals h3 {
    text-align: center;
}

.finals td {
    padding: 5px;
    vertical-align: baseline;
}

.finals td:first-of-type {
    text-align: left;
    font-weight: bold;
}

.finals td:last-of-type {
    text-align: left;
}

.finals img {
    width: var(--logoDim);
    height: var(--logoDim);
    padding: 0 15px;
    position: relative;
    bottom: -10px;
}

.table img {
    width: var(--logoTbl);
    height: var(--logoTbl);
    padding: 0 5px 0 0;
    position: relative;
    bottom: -5px;
}

.table table {
    border-collapse: collapse;
    width: 100%;
    background: white;
    margin-bottom: 1px;
}

.table td {
    vertical-align: bottom;
    text-align: center;
    padding: 2px 8px;
}

.table td:nth-child(9) {
    font-weight: bold;
    font-family: cursive;
}

.table td:nth-child(2) {
    text-align: left;
}

.table tr:nth-of-type(n+1):nth-of-type(-n+5) td:first-of-type {
    background: var(--color1);
}

.table tr:nth-of-type(n+2):nth-of-type(-n+9) {
    border-bottom: 1px solid var(--color5);
}

.table tr:last-of-type td {
    padding-bottom: var(--tableLastTrPadding);
}

.table th {
    background: var(--color1);
    color: black;
    padding: 2px;
    border-bottom: 1px solid var(--color5);
}

.table {
    color: black;
    grid-area: b;
}

.columnVisibility {
    display: none;
}

.nextG {
    grid-area: c;
}

.nextGame {
    background: white;
    margin: auto;
    padding: 10px 0 3px 0;
}

.nextGame img {
    width: var(--logoDim);
    height: var(--logoDim);
}

.nextG p {
    text-align: center;
    background: var(--color1);
    padding: 10px 0 5px 0;
    position: relative;
    top: -14px;
    margin-bottom: auto;
}

.nextGame tr:nth-of-type(5) td {
    text-align: left;
}

.nextGame td:first-of-type {
    text-align: right;
}

.nextGame tr:nth-of-type(n + 1):nth-of-type(-n + 5) td:nth-of-type(3) {
    text-align: center;
    padding: 0 15px;
    font-size: var(--fontSize10);
}

.nextGame td {
    padding: 2px;
}

.footer {
    font-size: 10px;
    margin-top: 60px;
}

.pairs tr:nth-of-type(1) td {
    font-weight: bold;
    padding: 5px 0;
    background: var(--color1);
    color: black;
    position: relative;
    top: -2px;
}

.pairs tr:nth-of-type(6) {
    font-style: italic;
}

.pairs tr:nth-of-type(n + 2):nth-of-type(-n + 5) td:nth-of-type(1) {
    width: 40%;
}

.pairs tr:nth-of-type(n + 2):nth-of-type(-n + 5) td:nth-of-type(2) {
    width: 10%;
    text-align: center;
}

.pairs tr:nth-of-type(n + 2):nth-of-type(-n + 5) td:nth-of-type(3) {
    width: 40%;
}

.pairs {
    width: 80%;
    max-width: 300px;
    box-shadow: 0 0 2px var(--color5);
    background: white;
}

#combinedTable table {
    grid-area: b;
    box-shadow: 0 0 2px var(--color5);
    margin-bottom: 20px;
}

#combinedTable tr:nth-of-type(n+1):nth-of-type(-n+5) td:first-of-type {
    background: unset;
}

.resultsPage {
    grid-area: a;
}

.resultsPage summary {
    background: var(--color1);
    margin-bottom: 5px;
}

.resultsPage tr {
    border-bottom: 1px solid var(--color5);
}

.resultsPage tr:first-of-type {
    background: var(--color1);
    color: black;
}

.resultsPage table {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    border-collapse: collapse;
    box-shadow: 0 0 2px var(--color5);
}

.resultsPage tr:nth-of-type(n + 1):nth-of-type(-n + 2) td {
    font-weight: bold;
    padding: 1px;
}

.resultsPageContainer {
    display: grid;
    grid-template-areas: var(--resultsPageGridAreas);
}

.teamContent {
    display: inline-block;
    box-shadow: 0 0 2px var(--color5);
}

.team {
    display: inline-flex;
    padding: 5px;
}

.teamLogo {
    height: 100px;
}

.teamInfo {
    margin-bottom: 40px;
    padding: 0 10px 0 0;
    font-weight: bold;
}

.teamInfo td:nth-of-type(1) {
    font-style: italic;
    font-weight: normal;
    padding-right: 10px;
}

.teamResults tr {
    border: 1px solid var(--color5);
}

.teamResults td {
    padding: 1px 2px 4px 4px;
}

.teamResults td:first-of-type {
    border-right: 1px solid var(--color5);
    text-align: center;
}

.teamResults th:first-of-type {
    text-align: center;
}

.teamResults th {
    background: var(--color1);
    color: black;
    text-align: left;
    border-bottom: 1px solid var(--color5);
    padding: 0 0 2px 4px;
}

.teamResults {
    border: 1px solid var(--color5);
    margin-bottom: 20px;
    min-width: 333px;
    max-width: 400px;
    border-collapse: collapse;
}

.teamResultsList {
    list-style: none;
    display: flex;
    padding: 0;
}

.teamResultsList li {
    margin: 1px;
    padding: 2px;
    background: var(--color5);
    cursor: pointer;
    box-shadow: 0 0 2px var(--color5);
    color: white;
}

#s2006 {
    background: var(--color1);
    box-shadow: 0 0;
}

#ys2009,
#ys2008,
#ys2007,
#ys2010 {
    display: none;
}

.teamStats {
    background: var(--color4);
    display: inline-block;
}

.resultsNL td {
    padding: 0 4px;
}

.resultsNL {
    margin-bottom: 20px;
}

.resultsNL p {
    font-weight: bold;
}

.tableNL td {
    padding: 2px 6px;
    border-bottom: 1px solid;
}

.tableNL td:nth-of-type(n + 3):nth-of-type(-n + 9) {
    text-align: center;
    padding: 0 8px;
}

.tableNL td:first-of-type {
    border-right: 1px solid;
}

.tableNL th {
    border-bottom: 1px solid;
    padding: 2px 8px;
}

.tableNL th:nth-of-type(2) {
    text-align: left;
}

.tableNL {
    margin-bottom: 40px;
}

.tableNL table {
    border-collapse: collapse;
    border: 1px solid;
}

.nextGameNL td {
    padding: 2px 8px;
}

.nextGameNL td:nth-of-type(3) {
    border-right: 1px solid;
}

.nextGameNL {
    border-collapse: collapse;
}

#newsLetter {
    display: inline-block;
    width: 50px;
    max-width: 200px;
    font-size: var(--fontSize12);
    font-weight: bold;
    padding: 5px 10px;
    box-shadow: 0 0 2px var(--color5);
    margin: 5px;
}

.adminCards:hover {
    color: var(--color1);
}

.adminCards {
    display: inline-block;
    width: 50px;
    max-width: 200px;
    font-size: var(--fontSize12);
    font-weight: bold;
    padding: 5px 15px;
    box-shadow: 0 0 2px var(--color5);
    margin: 5px;
    text-align: center;
    cursor: pointer;
}

.admin a {
    background: var(--color1);
    color: black;
    text-decoration: none;
    padding: 1px 10px;
    margin: 5px;
    border-radius: 2px;
    box-shadow: 0 0 2px var(--color5);
    font-size: 15px;
}

.admin {
    font-size: 15px;
}

.admin a:hover {
    background: var(--color5);
    color: white;
}

.headToggle {
    margin: 5px 0;
    text-align: left;
    cursor: pointer;
}

.visitorTable {
    border: 1px solid var(--color5);
    border-collapse: collapse;
    font-size: var(--fontSize10);
}

.visitorTable td {
    padding: 2px 4px;
    text-align: center;
    border-bottom: 1px solid var(--color5);
    border-top: 1px solid var(--color5);
}

.visitorTable td:nth-of-type(7),
.visitorTable td:nth-of-type(1) {
    border: 1px solid var(--color5);
}

.visitorTable td:nth-of-type(10) {
    border-left: 1px solid var(--color5);
}

.visitorTable th {
    background: var(--color1);
    color: black;
}

.chartContainer {
    display: grid;
    grid-template-areas: var(--gridTemplateAreas)
}

.chartContainer div:last-of-type {
    grid-area: c;
    max-width: 90%;
}

.infb {
    margin: 40px 0 10px 0;
    text-align: center;
}

.infb img {
    width: 15px;
    padding-right: 1px;
    margin: 5px 0 0 0;
    position: relative;
    top: 2px;
}

.infb span {
    margin-right: 10px;
}

summary {
    cursor: pointer;
}

.modalForm {
    text-align: right;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    margin-left: -10px;
    background: rgba(0, 0, 0, 0.5);
    color: var(--color1);
    z-index: 1;
    display: none;
}

.modalForm form {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color5);
}


.modalForm input {
    background: var(--color5);
    color: white;
    margin: 2px;
}

.modalForm input[type='submit']:hover {
    cursor: pointer;
    color: var(--color1);
}

@media screen and (min-width: 640px) {
    :root {
        --fontSize12: 14px;
        --fontSize10: 12px;
        --logoWidth: 100px;
        --clubLogoWidth: 400px;
        --gridTemplateAreas: 'a b'
            'c c';
        --tableLastTrPadding: 8px;
    }

    #youthSel li {
        padding: 6px 20px;
    }

    .title1 {
        display: none;
    }

    .title2 {
        display: inline;
        padding-top: 20px;
        font-size: 40px;
    }

    .login input[type='submit'] {
        font-size: 10px;
        margin-right: 12px;
        padding: 2px;
    }

    .finals {
        margin: 10px 20%;
        padding: 5px 0;
    }

    .columnVisibility {
        display: table-cell;
    }

    #adminCards {
        float: right;
    }
}

@media screen and (min-width: 900px) {
    :root {
        --gridTemplateAreasContent: 'a b'
            'c b';
        --tableLastTrPadding: 5px;
        --resultsPageGridAreas: 'a b c';
    }

    .ys {
        box-shadow: 0 0;
    }

    .table table {
        margin-left: 10px;
        box-shadow: 0 0 2px var(--color5);
    }

    .results {
        margin-bottom: 5px;
        box-shadow: 0 0 2px var(--color5);
    }

    .nextG {
        box-shadow: 0 0 2px var(--color5);
    }
}
