<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SK game index</title>
    <meta name="description" content="Fair Play LBŠ website">
    <meta name="keywords" content="Fair Play, Liga Budućih Šampiona, LBŠ, Liga">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fcc914">
    <link rel="stylesheet" href="/css/stylesSk.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <script src="/js/skgameindex.js" defer></script>
</head>

<body>
    <p>asdasdasd</p>
</body>
